{% comment %}
  * An article block that fills the container with an image with overlayed title
  {% render 'article-grid-item', article: article, aspect_ratio: 0.7, color: section.settings.color, overlay_color: section.settings.overlay_color %}
{% endcomment %}
<div class="article__card">
  {% if article.image %}
    <a href="{{ article.url }}" class="article__card__image lazy-image"  aria-label="{{ article.title | strip_html | escape }}">
      <div class="image-overlay--bottom" style="--bg:{{ overlay_color | default: '#000' }}; --opacity: 0.45;"></div>
      {%- render 'image-fill', img_object: article.image, aspect_ratio: aspect_ratio -%}
    </a>
  {% else %}
    <div class="image__fill"     
        style="padding-top: {{ aspect_ratio | times: 100 }}%;
               background: var(--muted);"></div>
  {% endif %}
  
  <div class="article__card__info">
    <h3 class="h4 article__card__title">
      <a href="{{ article.url }}" class=""  aria-label="{{ article.title | strip_html | escape }}">{{ article.title }}</a>
    </h3>
    <p class="article__card__content">{{ article.excerpt_or_content | strip_html | truncate: 150 }}</p>
    <a href="{{ article.url }}" class="ArticleItem__Link text-link uppercase">{{ 'blogs.article.read_more' | t }}</a>
  </div>
</div>
