<!-- /templates/customers/addressess.liquid -->
{% comment %}

  Template note:
    - There are instances of inline JS below. Best practices advise separating this
      into an external JS file
    - There are separate 'add new' and 'edit' address forms

{% endcomment %}

<div class="wrapper address__wrap" data-address-wrapper>

  {% paginate customer.addresses by 10 %}
  
    <header class="account-header pt2 pb0">
      <h1 class="account-header__left title h2 ">{{ 'customer.account.welcome' | t }}{{ customer.first_name }}</h1>
      <div class="account-header__right">
        <a href="{{ routes.account_url }}" class="account-menu__item uppercase ">
          {{ 'customer.account.order' | t }}          
        </a>
        <a href="{{ routes.account_addresses_url }}" class="account-menu__item uppercase  menu__item--selected">
          {{ 'customer.account.saved_addresses' | t }}
        </a>
        <a href="{{ routes.account_logout_url }}" class="account-menu__item uppercase">{{ 'layout.customer.log_out' | t }}</a>
        
      </div>
    </header>
      
    <div data-new-address-form>
      {% form 'customer_address', customer.new_address, class: 'form--standard' %}
        <div new-address-form-inner {% unless form.errors %}class="hide"{% endunless %}>
          {{ form.errors | default_errors }}
  
          <h3 class="title__address ">{{ 'customer.addresses.add_new' | t }}</h3>
  
          <div class="grid address__new">
  
            <div class="grid__item float__wrapper one-half mobile--one-whole">
              <label for="AddressFirstNameNew">{{ 'customer.addresses.first_name' | t }}</label>
              <input type="text" id="AddressFirstNameNew" class="address_form" name="address[first_name]" value="{{ form.first_name }}" 
              placeholder="{{ 'customer.addresses.first_name' | t }}">
            </div>
  
            <div class="grid__item float__wrapper one-half mobile--one-whole">
              <label for="AddressLastNameNew">{{ 'customer.addresses.last_name' | t }}</label>
              <input type="text" id="AddressLastNameNew" class="address_form" name="address[last_name]" value="{{ form.last_name }}"
              placeholder="{{ 'customer.addresses.last_name' | t }}">
            </div>  
  
            <div class="grid__item float__wrapper one-half mobile--one-whole">
              <label for="AddressAddress1New">{{ 'customer.addresses.address1' | t }}</label>
              <input type="text" id="AddressAddress1New" class="address_form" name="address[address1]" value="{{ form.address1 }}"
              placeholder="{{ 'customer.addresses.address1' | t }}">
            </div>

            <div class="grid__item float__wrapper one-half mobile--one-whole">
              <label for="AddressAddress2New">{{ 'customer.addresses.address2' | t }}</label>
              <input type="text" id="AddressAddress2New" class="address_form" name="address[address2]" value="{{ form.address2 }}"
              placeholder="{{ 'customer.addresses.address2' | t }}">
            </div>
            
            <div class="grid__item float__wrapper one-half mobile--one-whole">
              <label for="AddressCompanyNew">{{ 'customer.addresses.company' | t }}</label>
              <input type="text" id="AddressCompanyNew" class="address_form" name="address[company]" value="{{ form.company }}"
              placeholder="{{ 'customer.addresses.company' | t }}">  
            </div>

            <div class="grid__item float__wrapper one-half mobile--one-whole">
              <label for="AddressCountryNew">{{ 'customer.addresses.country' | t }}</label>
              <select id="AddressCountryNew" name="address[country]" data-default="{{ form.country }}" 
              placeholder="{{ 'customer.addresses.country' | t }}">
              {{ all_country_option_tags }}
              </select>
            </div>
  
            <div class="grid__item float__wrapper one-half mobile--one-whole">
              <label for="AddressCityNew">{{ 'customer.addresses.city' | t }}</label>
              <input type="text" id="AddressCityNew" class="address_form" name="address[city]" value="{{ form.city }}"
              placeholder="{{ 'customer.addresses.city' | t }}">
            </div> 
  
            <div class="grid__item float__wrapper one-half mobile--one-whole" id="AddressProvinceContainerNew" class="hide">
              <label for="AddressProvinceNew">{{ 'customer.addresses.province' | t }}</label>
              <select id="AddressProvinceNew" class="address_form" name="address[province]" data-default="{{ form.province }}"
              placeholder="{{ 'customer.addresses.province' | t }}"></select>
            </div>
  
            <div class="grid__item float__wrapper one-half mobile--one-whole">
              <label for="AddressZipNew">{{ 'customer.addresses.zip' | t }}</label>
              <input type="text" id="AddressZipNew" class="address_form" name="address[zip]" value="{{ form.zip }}" autocapitalize="characters"
              placeholder="{{ 'customer.addresses.zip' | t }}">
            </div>
  
            <div class="grid__item float__wrapper one-half mobile--one-whole">
              <label for="AddressPhoneNew">{{ 'customer.addresses.phone' | t }}</label>
              <input type="tel" id="AddressPhoneNew" class="address_form" name="address[phone]" value="{{ form.phone }}"
              placeholder="{{ 'customer.addresses.phone' | t }}">
            </div>
          </div>
  
          <div class="default__address">
            {{ form.set_as_default_checkbox }}
            <label for="address_default_address_new" class="inline account-menu__item uppercase">{{ 'customer.addresses.set_default' | t }}</label>
          </div>
          
          <div class="group__button">
            <button type="submit" class="btn--black btn uppercase btn--save">
              {{ 'customer.addresses.save' | t }}
            </button>
            <button type="reset" class="btn--link" data-button-cancel >{{ 'customer.addresses.cancel' | t }}</button>
          </div>
  
        </div>
      {% endform %}
    </div>
    
    {% comment %}
      List all customer addresses with a unique edit form.
      Also add pagination in case they have a large number of addresses
    {% endcomment %}

    <div class="address__content" data-address-content>
      {% for address in customer.addresses %}
      <div class="address__item one-half">
        <ul>
          <li>
          {{ address.first_name | capitalize }} {{ address.last_name | capitalize }}
          </li>
          {% if address == customer.default_address %}
            <div class="default__tag uppercase">{{ 'customer.addresses.default' | t }}</div>
          {% endif %}
          <li>{{ address.company }}</li>
          <li>{{ address.street }}</li>
          <li>{{ address.city | capitalize }}</li>
          <li>{{ address.province_code | upcase }}</li>
          <li>{{ address.zip | upcase }}</li>
          <li>{{ address.country }}</li>
          <li>{{ address.phone }}</li>
        </ul>
        <div>
          <button type="button" class="btn--link uppercase uppercase address-edit-toggle" data-form-id="{{ address.id }}">
            {{ 'customer.addresses.edit' | t }}
          </button>
          <button type="button" class="btn--link uppercase address-delete" data-form-id="{{ address.id }}" data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}">
            {{ 'customer.addresses.delete' | t }}
          </button>
        </div>     
    
        <div id="EditAddress_{{ address.id }}" class="hide">
          {% form 'customer_address', address, class: 'form--standard' %}
    
            <p class="strong uppercase">{{ 'customer.addresses.edit_address' | t }}</p>
    
            <div class="grid">
              <div class="grid__item one-half mobile--one-whole">
                <label for="AddressFirstName_{{ form.id }}">{{ 'customer.addresses.first_name' | t }}</label>
                <input type="text" id="AddressFirstName_{{ form.id }}" class="address_form" name="address[first_name]" value="{{ form.first_name }}">
              </div>
    
              <div class="grid__item one-half mobile--one-whole">
                <label for="AddressLastName_{{ form.id }}">{{ 'customer.addresses.last_name' | t }}</label>
                <input type="text" id="AddressLastName_{{ form.id }}" class="address_form" name="address[last_name]" value="{{ form.last_name }}">
              </div>
            </div>
    
            <label for="AddressCompany_{{ form.id }}">{{ 'customer.addresses.company' | t }}</label>
            <input type="text" id="AddressCompany_{{ form.id }}" class="address_form" name="address[company]" value="{{ form.company }}">
    
            <label for="AddressAddress1_{{ form.id }}">{{ 'customer.addresses.address1' | t }}</label>
            <input type="text" id="AddressAddress1_{{ form.id }}" class="address_form" name="address[address1]" value="{{ form.address1 }}">
    
            <label for="AddressAddress2_{{ form.id }}">{{ 'customer.addresses.address2' | t }}</label>
            <input type="text" id="AddressAddress2_{{ form.id }}" class="address_form" name="address[address2]" value="{{ form.address2 }}">
    
            <label for="AddressCity_{{ form.id }}">{{ 'customer.addresses.city' | t }}</label>
            <input type="text" id="AddressCity_{{ form.id }}" class="address_form" name="address[city]" value="{{ form.city }}">
    
            <label for="AddressCountry_{{ form.id }}">{{ 'customer.addresses.country' | t }}</label>
            <select id="AddressCountry_{{ form.id }}" name="address[country]" class="address-country-option" data-form-id="{{ form.id }}" data-default="{{ form.country }}">{{ country_option_tags }}</select>
    
            <div id="AddressProvinceContainer_{{ form.id }}" style="display: none">
              <label for="AddressProvince_{{ form.id }}">{{ 'customer.addresses.province' | t }}</label>
              <select id="AddressProvince_{{ form.id }}" class="address_form" name="address[province]" data-default="{{ form.province }}"></select>
            </div>
    
            <div class="grid">
              <div class="grid__item one-half mobile--one-whole">
                <label for="AddressZip_{{ form.id }}">{{ 'customer.addresses.zip' | t }}</label>
                <input type="text" id="AddressZip_{{ form.id }}" class="address_form" name="address[zip]" value="{{ form.zip }}" autocapitalize="characters">
              </div>
    
              <div class="grid__item one-half mobile--one-whole">
                <label for="AddressPhone_{{ form.id }}">{{ 'customer.addresses.phone' | t }}</label>
                <input type="tel" id="AddressPhone_{{ form.id }}" class="address_form" name="address[phone]" value="{{ form.phone }}">
              </div>
            </div>
    
            <p>
              {{ form.set_as_default_checkbox }}
              <label for="address_default_address_{{ form.id }}" class="inline">{{ 'customer.addresses.set_default' | t }}</label>
            </p>
    
            <button type="submit" class="btn--link uppercase">
              {{ 'customer.addresses.update' | t }}
            </button>
            <a href="#" class="btn--link address-edit-toggle" data-form-id="{{ form.id }}">{{ 'customer.addresses.cancel' | t }}</a>
    
  
          {% endform %}
        </div>
      </div>
      {% endfor %}
    </div>
  
    <button class="btn--black btn uppercase address-new-toggle">{{ 'customer.addresses.add_new' | t }}</button>

    {% if paginate.pages > 1 %}
    <div class="text-center">
      {% render 'pagination-custom', paginate: paginate %}
    </div>
    {% endif %}
  
    {% endpaginate %}
  </div>
  