<!-- /templates/customers/account.liquid -->
{% comment %}

  For all available customer liquid tags:
    - http://docs.shopify.com/themes/liquid-variables/customer

{% endcomment %}

<div class="wrapper">

  {% paginate customer.orders by 10 %}
  
    <header class="account-header pt2 pb0">
      <h1 class="account-header__left title h2">{{ 'customer.account.welcome' | t }}{{ customer.first_name }}</h1>
      <div class="account-header__right">
        {% if shop.metafields.sky_pilot.enabled %}
          <a href="{% unless routes.root_url == '/' %}{{ routes.root_url }}{% endunless %}/apps/downloads/orders/{{ customer.id }}" class='btn--outline uppercase'>
            {{ 'customer.account.digital_goods' | t }}
          </a>
        {% endif %}
        <a href="{{ routes.account_url }}" class="account-menu__item uppercase  menu__item--selected">
          {{ 'customer.account.order' | t }}          
        </a>
        <a href="{{ routes.account_addresses_url }}" class="account-menu__item uppercase">
          {{ 'customer.account.saved_addresses' | t }}
        </a>
        <a href="{{ routes.account_logout_url }}" class="account-menu__item uppercase">{{ 'layout.customer.log_out' | t }}</a>
      </div>
    </header>  
  
    <div class="grid account-content">
  
      <div class="grid__item {% if customer.orders.size == 0 %} two-thirds {% else %} one-third {%- endif -%} medium-down--one-whole">
        {% if customer.orders.size == 0 %}
          <p class="uppercase strong">{{ 'customer.orders.title' | t }}</p>
        {%- endif -%}

        {% comment %}
          If we have past orders, loop through each one
        {% endcomment %}
  
        {% if customer.orders.size != 0 %}
          <div class="table-wrap">
            <table class="table--responsive">              
              <tbody>
                {% for order in customer.orders %}
                  <tr>
                    <td data-label="{{ 'customer.orders.order_number' | t }}"><strong class="text-link">Order # {{ order.name | link_to: order.customer_url }}</strong></td>
                    <td data-label="{{ 'customer.orders.date' | t }}">{{ order.created_at | date: format: 'month_day_year' }}</td>
                    <td data-label="{{ 'customer.orders.payment_status' | t }}">{{ order.financial_status_label }}</td>
                    <td data-label="{{ 'customer.orders.total' | t }}">{{ order.total_price | money }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>  
        {% else %}
  
          <p>{{ 'customer.orders.none' | t }}</p>
  
        {% endif %}
      </div>
  
      {%- if customer.orders.size == 0 -%}
      <div class="grid__item one-third medium-down--one-whole">
        <p class="uppercase strong">{{ 'customer.account.details' | t }}</p>
  
        <p>
        <strong>{{ customer.name }}</strong><br>
        {% if customer.default_address != nil %}
  
          {{ customer.default_address.address1 }}<br>
  
          {% if customer.default_address.address2 != "" %}
            {{ customer.default_address.address2 }}<br>
          {% endif %}
  
          {% if customer.default_address.city != "" %}
            {{ customer.default_address.city }}<br>
          {% endif %}
  
          {% if customer.default_address.province_code != "" %}
            {{ customer.default_address.province_code | upcase }}<br>
          {% endif %}
  
          {% if customer.default_address.zip != "" %}
            {{ customer.default_address.zip | upcase }}<br>
          {% endif %}
  
          {% if customer.default_address.country != "" %}
            {{ customer.default_address.country }}<br>
          {% endif %}
  
          {% if customer.default_address.phone != "" %}
            {{ customer.default_address.phone }}
          {% endif %}
        {% endif %}
        </p>
  
        <p><a href="{{ routes.account_addresses_url }}">{{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})</a></p>
      </div>
      {%- endif -%}
    </div>
  
    {% if paginate.pages > 1 %}
      <div class="pagination">
        {{ paginate | default_pagination: next: '&rarr;', previous: '&larr;' }}
      </div>
    {% endif %}
    {% endpaginate %}
  
  </div>
  